.App {
    height: 100vh;
    font-family: "Lato"
}

a,
button:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important
}

.trans {
    transition: all .2s ease-in-out
}

body,
html {
    overflow-x: hidden
}

.loading-gif {
    position: absolute;
    left: 40%;
    top: 70%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 144px;
    height: 144px
}

.AppLayout {
    height: 100vh
}

.AppLayout>:first-child {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.AppLayout>:nth-child(3) {
    -webkit-flex-shrink: 1;
    flex-shrink: 1
}

.AppLayout>:nth-child(2) {
    -webkit-flex: 1 1;
    flex: 1 1;
    overflow: scroll
}

.AppLayout>:nth-child(2)::-webkit-scrollbar {
    display: none !important
}

.nav-button-text {
    color: #666
}

.nav-button-text-h {
    color: inherit
}

.nav-button {
    background-image: linear-gradient(90deg, #fff, #fff);
    box-shadow: 0 2px 10px 0 rgba(5, 54, 236, 0);
    border: none
}

.nav-button-h {
    background-image: linear-gradient(90deg, #168cef, #0227ec);
    box-shadow: 0 2px 10px 0 rgba(5, 54, 236, .49);
    border-radius: 10px
}

.assets-1,
.bridge-1,
.home-1,
.more-info-1,
.trade-1,
.vault-1 {
    fill: #f1f1f1
}

.assets-1-h,
.assets-2,
.bridge-1-h,
.bridge-2,
.discord-1-h,
.discord-2,
.home-1-h,
.home-2,
.medium-1-h,
.medium-2,
.more-info-1-h,
.more-info-2,
.reddit-1-h,
.reddit-2,
.telegram-1-h,
.telegram-2,
.trade-1-h,
.trade-2,
.twitter-1-h,
.twitter-2,
.vault-1-h {
    fill: #039
}

.home-2-h {
    fill: #1f0c4e
}

.assets-2-h,
.bridge-2-h,
.discord-2-h,
.medium-2-h,
.more-info-2-h,
.reddit-2-h,
.telegram-2-h,
.trade-2-h,
.twitter-2-h {
    fill: #fff
}

.vault-2 {
    fill: #039;
    stroke: #f1f1f1;
    stroke-miterlimit: 10;
    stroke-width: .25px
}

.vault-2-h {
    fill: #fff;
    stroke: #039;
    stroke-miterlimit: 10;
    stroke-width: .25px
}

.discord-1,
.medium-1,
.reddit-1,
.telegram-1,
.twitter-1 {
    fill: #e8f4ff
}

.dark-btn-light-h,
.lang-icon-light,
.light-btn-light-h {
    fill: #039
}

.dark-btn-light {
    fill: #999
}

.dark-btn-dark-h,
.lang-icon-dark,
.light-btn-dark-h {
    fill: #a28bd4
}

.light-btn-dark {
    fill: #fff
}

.assets_table-th th {
    font-size: 14px;
    font-family: Avenir;
    font-weight: 700;
    text-transform: none;
    color: inherit
}

.assets_table-td td {
    font-size: 12px;
    font-family: Avenir;
    font-weight: 700
}

.assets-border {
    box-shadow: 0 0 10px 0 rgba(63, 63, 63, .05);
    border-radius: 10px
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}


/** Connector modal **/
.web3modal-modal-lightbox {
    z-index: 200 !important;
}

/** Fancy Design **/
html:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -5;
    background: linear-gradient(180deg,rgba(50,70,80,.9) 0,#0d101b 100%);
}

html:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -10;
    background-color: #273136;
    background-image: url("../../assets/img/iceberg-min.jpg");
    background-position: center;
    background-attachment: initial;
    height: 100%;
    transition: background .2s linear;
    background-size: cover;
}

body{
    background: 0 0;
    font-weight: 300;
    letter-spacing: .046875rem;
    position: relative;
    min-height: 100vh;
    z-index: 9999;
}

body:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-attachment: initial;
    background-color: transparent;
    background-image: url("../../assets/img/pattern.png");
    background-size: 4.6875rem;
    background-repeat: repeat;
    background-attachment: initial;
    z-index: -5;
}


/** Fancy Card **/

.card {
    --bs-border-color: #ffffff;
    position: relative;
    border: none;
}
.card.card-expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1120;
    border-radius: 0;
    margin: 0 !important;
    padding: 0.3125rem;
    background: rgba(29, 40, 53, 0.95);
}
.card.card-expand .card-body,
.card.card-expand .card-header {
    border-radius: 0;
}
.card.card-expand .card-body {
    flex: 1 0 0;
    overflow: scroll;
}
.card.card-expand:not(.border-0):before {
    top: 5px;
    bottom: 5px;
    left: 20px;
    right: 20px;
}
.card.card-expand:not(.border-0):after {
    top: 20px;
    bottom: 20px;
    left: 5px;
    right: 5px;
}
.card.card-expand .card-arrow {
    margin: 5px;
}
.card .card-header .card-header-tabs .nav-item .nav-link.active {
    border-bottom-color: transparent;
}
.card .card-body .nav-tabs .nav-item .nav-link.active {
    background: 0 0;
    border-bottom-color: none;
}
.card:after,
.card:before {
    content: "";
    position: absolute;
}
.card:not(.border-0):before {
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    border-top: 1px solid var(--bs-border-color);
    border-bottom: 1px solid var(--bs-border-color);
    opacity: 0.3;
}
.card:not(.border-0):after {
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    border-left: 1px solid var(--bs-border-color);
    border-right: 1px solid var(--bs-border-color);
    opacity: 0.3;
}
.card > :not(.card-arrow):not(.card-img-overlay):not(.card-img):not(.hljs-container) {
    position: relative;
    z-index: 10;
}
.card .card-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card .card-arrow-bottom-left,
.card .card-arrow-bottom-right,
.card .card-arrow-top-left,
.card .card-arrow-top-right {
    width: 10px;
    height: 10px;
    position: absolute;
}
.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: var(--bs-border-color);
    opacity: 0.75;
}
.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after,
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: var(--bs-border-color);
    opacity: 0.75;
}
.card .card-arrow-top-left,
.card .card-arrow-top-right {
    top: 0;
}
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
    top: 2px;
}
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
    top: 0;
}
.card .card-arrow-bottom-left,
.card .card-arrow-bottom-right {
    bottom: 0;
}
.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before {
    bottom: 2px;
}
.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after {
    bottom: 0;
}
.card .card-arrow-bottom-left,
.card .card-arrow-top-left {
    left: 0;
}
.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-left:before,
.card .card-arrow-top-left:after,
.card .card-arrow-top-left:before {
    left: 0;
}
.card .card-arrow-bottom-right,
.card .card-arrow-top-right {
    right: 0;
}
.card .card-arrow-bottom-right:after,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-right:after,
.card .card-arrow-top-right:before {
    right: 0;
}

/** Extra CSS to move out later **/

.bg-white {
    background-color: rgba(255,255,255,0.15)!important;
}



/** Fonts **/



    /* thai */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkeNIh1U5_F7AY.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
    /* vietnamese */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkeNIh1SJ_F7AY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkeNIh1SZ_F7AY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkeNIh1R5_F.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* thai */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkebIl1U5_F7AY.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
  /* vietnamese */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkebIl1SJ_F7AY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkebIl1SZ_F7AY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v8/cIflMapbsEk7TDLdtEz1BwkebIl1R5_F.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  